@import url('https://fonts.googleapis.com/css2?family=Oldenburg&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

.oldenburg-regular {
    font-family: "Oldenburg", serif;
    font-weight: 400;
    font-style: normal;
}

.aboutus {
    background: linear-gradient(180deg, #000000, #f59e0b 32%);
    padding-bottom: 2rem;
    /* overflow: hidden; */
}

.rotated-image {
    transform: rotate(3deg) translateY(-50px) translateX(-4px); 
    position: relative;
    top: 2rem;
}

.googleimg {
    width: 16rem;
}

.trumpetimg {
    position: absolute;
    top: -2rem;
    right: -9rem;
    width: 29rem;
}

.refreshmentsimg {
    width: 16rem;
}

.travelimg {
    width: 16rem;
}

.drumsimg {
    width: 27rem;
    position: absolute;
    left: -4rem;
    top: 35rem;
}

.pianoimg {
    position: absolute;
    top: 35rem;
    right: -4rem;
    width: 20rem;
}

.aboutustext {
    transform: scale(1.3);
    margin-top: -8rem;
}

@media only screen and (max-width: 3000px) {
    .trumpetimg {
        top: -2rem;
        right: -8rem;
        width: 25rem;
    }   

    .aboutustext {
        margin-top: -10rem;
    }
    .drumsimg {
        width: 24rem;
        left: -4rem;
        top: 46rem;
    }

    .pianoimg {
        top: 43rem;
        right: -4rem;
        width: 18rem;
    }
    
}

@media only screen and (max-width: 1050px) {
    .aboutus {
        background: linear-gradient(180deg, #000000, #f59e0b 20%);
    }

    /* .aboutustext {
        margin-bottom: 3.8rem;
    } */
    
    .drumsimg {
        width: 24rem;
        left: -4rem;
        top: 50rem;
    }

    .pianoimg {
        top: 45rem;
        right: -4rem;
        width: 18rem;
    }

    .aboutustext {
        margin-top: -5rem;
        transform: scale(1);
    }
}

@media only screen and (max-width: 700px) {
    .aboutus {
        background: linear-gradient(180deg, #000000, #f59e0b 13%);
    }

    .trumpetimg {
        top: -2rem;
        right: -7rem;
        width: 22rem;
    }   
    
    /* .aboutustext {
        margin-bottom: 2rem;
    } */

    .drumsimg {
        width: 22rem;
        left: -4rem;
        top: 50rem;
    }
    .pianoimg {
        top: 45rem;
    }
}

/* @media only screen and (max-width: 600px) {
    .aboutustext {
        margin-bottom: 5rem;
    }

    .drumsimg {
        width: 22rem;
        left: -4rem;
        top: 57.5rem;
    }
} */

@media only screen and (max-width: 600px) {
    .aboutus {
        background: linear-gradient(180deg, #000000, #f59e0b 11%);
    }

    /* .aboutustext {
        margin-bottom: 5rem;
    } */

    .drumsimg {
        width: 20rem;
        left: -4rem;
        top: 51rem;
    }

    .pianoimg {
        top: 45rem;
        right: -3rem;
        width: 16rem;
    }

    .trumpetimg {
        top: -2rem;
        right: -7rem;
        width: 20rem;
    }  
}

@media only screen and (max-width: 470px) {
    /* .aboutustext {
        margin-bottom: 5.5rem;
    } */

    .trumpetimg {
        top: -2rem;
        right: -7rem;
        width: 18rem;
    } 

    .drumsimg {
        width: 16rem;
        left: -4rem;
        top: 50rem;
    }

    .pianoimg {
        top: 45rem;
        right: -3rem;
        width: 15rem;
    }
}