.texture {
    background: url("/texture.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px)  {
    .eventsTopFilm {
        transform: scaleX(1.5) scaleY(2);
    }
}
.gallery-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}